<section id="inicio" class="hero">
    <div class="hero-content">
        <h1 class="hero-title">Del Pasaje<span class="brand-mark">®</span></h1>

        <p class="hero-text">
            Rock argentino nacido en el oeste.</p>
            <p>Una banda de culto volvió a la ruta.</p> 
            <p></p>

        <a href="#fechas" class="hero-cta">
            Ver fechas
        </a>
    </div>
</section>