<nav class="nav">
  <div class="nav-inner">
    <a href="#inicio" class="logo"> Del Pasaje </a>

    <ul class="nav-links">
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#fechas">Fechas</a></li>
      <li><a href="#media">Videos</a></li>
      <li><a href="#galeria">Galeria</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </div>
</nav>
