<section id="entradas" class="tickets">
    <h2>Entradas</h2>

    <p class="tickets-text">
        Conseguí tus entradas para los próximos shows
    </p>

    <div class="tickets-list">
        <article class="tickets-card">
            <h3>Vorterix</h3>
            <p>Buenos Aires</p>
            <p>15 de Marzo . 21 hs</p>

            <a href="https://passline.com/evento"
            target="_blank"
            class="ticket-btn">
        Comprar entradas</a>
        </article>
    </div>
</section>