<section id="nosotros" class="section-about">
  <div class="about-inner">
    <h2 class="section-title">Nosotros</h2>

    <div class="about-text">
      <p>
        Del Pasaje es una banda de rock argentino formada en Hurlingham,
        provincia de Buenos Aires, considerada una banda de culto por la
        intensidad de sus letras y la diversidad de su público
      </p>
      <p>
        Activos desde 1999, vivieron su etapa más intensa entre los años 2000 y
        2008, compartiendo escenario con artistas como Mimi Maura, Alejandro
        Sokol y No Te Va Gustar. Tras un período de inactividad, la banda
        regresa en 2024 con nuevas canciones.
      </p>
      <p>
        Con un sonido que cruza el rock, hard rock, el post-punk y elementos del
        tango y el flamenco, Del Pasaje vuelve a la ruta apostando a la canción,
        la identidad y el encuentro con su público.
      </p>
    </div>
  </div>
</section>
