<section class="fans-form-section">
    <h3>Querés ser parte?</h3>

    <p>
        Mandanos tu foto o mensaje
    </p>

    <form action="https://formspree.io/f/XXXXX" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Nombre"/>
    <input type="text" name="instagram" placeholder="@insta (opcional)"/>
    <textarea name="message" placeholder="Tu mensaje"></textarea>

    <input type="file" name="photo" accept="image/*"/>

    <label>
        <input type="checkbox" required />
        Autorizo a Del Pasaje a publicar este contenido
    </label>

    <button type="submit">Enviar</button>
    </form>
</section>