---
import { fanPosts } from "./fans.config";
import FanCard from "./FanCard.astro";


const approvedPosts = fanPosts.filter(p => p.approved);
---

<section id="fans" class="fans-wall">
    <h2>La gente de Del Pasaje</h2>

    <p class="fans-intro">
        Fotos y mensajes que nos comparten quienes nos acompañan en cada fecha
    </p>

    <ul class="fans-grid">
        {approvedPosts.map(post => (
            <FanCard post={post} />
        ))}
    </ul>
</section>